<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit movie</title>
</head>
<body>
    <h1>Edit: <%=movie.name%> </h1>
    <h1>Edit: <%=movie.director%></h1>

    <form action="/fantasyMovies/<%=movie._id%>?_method=PUT" method="POST">

        <input type="text" name="name" value="<%=movie.name%>" placeholder="Movie name">
        <input type="text" name="director" value="<%=movie.director%>" placeholder="Director">
        <input type="text" name="imgURL" placeholder="image URL">
        <input type="submit" value="Edit">

    </form><br>

    <a href="/">Home</a><br><br>
    <a href="/fantasyMovies">Back to Movies</a>
</body>
</html>