<%- include("../partials/header")%>

<title>Edit movie</title>
<body>
    <h1>Edit: <%=movie.name%> </h1>
    <h1>Edit: <%=movie.director%></h1>

    <form action="/fantasyMovies/<%=movie._id%>?_method=PUT" method="POST">

        Name: &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text" name="name" value="<%=movie.name%>" placeholder="Movie name"><br><br>
        Director: &nbsp &nbsp &nbsp <input type="text" name="director" value="<%=movie.director%>" placeholder="Director"><br><br>
        Image URL: &nbsp <input type="text" name="imgURL" placeholder="image URL"><br><br>
        <input type="submit" class="btn btn-primary" value="Edit">

    </form><br>

    <a href="/">Home</a><br><br>
    <a href="/fantasyMovies">Back to Movies</a>
</body>
</html>